#box{
    #classify{
        ul{
            height: 117px;
            li{
                width: 281px;
                height: 95px;
                float:left;
            }
        }
    }
    #guodu{
        height: 800px;
        border:1px solid #ddd;
    }
}