//box宽度
$width:1263px;
//头部的变量
$height:36px;
$fontSize:12px;
//search部分
$search_height:74px;
// 颜色
// 主色调
$mainColor:#58bc58 !default;

// 高亮颜色
$highColor:#fc0 !default;

$classicColor:#333 !default;

$container:1190px !default;


