@charset "UTF-8";
#box #main {
  height: 540px;
  background: #eee;
  padding-top: 10px; }
  #box #main .top {
    height: 130px;
    background: #fff;
    padding-top: 24px; }
    #box #main .top .container h1 {
      position: relative;
      width: 196px;
      height: 74px;
      float: left; }
      #box #main .top .container h1 i {
        display: block;
        height: 74px;
        width: 196px;
        background: url("../img/img.fw.png") -74px 0px;
        position: absolute; }
    #box #main .top .container i {
      font-style: normal;
      color: #c9c9c9;
      padding-right: 15px; }
    #box #main .top .container p {
      float: left;
      font-family: "Microsoft Yahei";
      font-size: 17px;
      line-height: 74px;
      color: #444444; }
      #box #main .top .container p:last-child {
        margin-top: 24px;
        width: 120px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #E5007F;
        float: right;
        text-align: center; }
        #box #main .top .container p:last-child span {
          font-size: 12px; }
        #box #main .top .container p:last-child a {
          font-size: 12px;
          color: #E91456;
          padding-left: 6px; }
        #box #main .top .container p:last-child a:hover {
          text-decoration: underline; }
  #box #main .register {
    background: #eee;
    padding: 30px 0;
    height: 437px; }
    #box #main .register .container {
      height: 377px;
      background: #fff; }
      #box #main .register .container .left {
        width: 435px;
        height: 377px;
        float: left; }
        #box #main .register .container .left ul {
          padding: 24px 0 0 30px; }
          #box #main .register .container .left ul li span {
            display: inline-block;
            height: 36px;
            line-height: 36px;
            width: 80px;
            font-size: 12px;
            color: #444; }
            #box #main .register .container .left ul li span.hint, #box #main .register .container .left ul li span.change {
              height: 24px;
              width: 285px;
              margin: 6px 0 0 83px;
              font-size: 14px;
              color: #58bc58;
              line-height: 24px;
              padding-left: 10px; }
            #box #main .register .container .left ul li span.change {
              color: #f00; }
          #box #main .register .container .left ul li input {
            height: 34px;
            width: 284px;
            font-size: 12px;
            margin-bottom: 20px;
            padding-left: 5px; }
            #box #main .register .container .left ul li input#username {
              margin-bottom: 0px; }
          #box #main .register .container .left ul li.check {
            padding-left: 85px; }
            #box #main .register .container .left ul li.check input {
              width: 14px;
              height: 14px;
              display: block;
              margin-top: 2px;
              float: left; }
            #box #main .register .container .left ul li.check a {
              font-size: 12px;
              display: block;
              float: left; }
            #box #main .register .container .left ul li.check a:hover {
              text-decoration: underline;
              color: #E21357; }
          #box #main .register .container .left ul li:nth-child(5) {
            padding-left: 85px; }
            #box #main .register .container .left ul li:nth-child(5) button {
              width: 280px;
              height: 32px;
              display: block;
              border: 0 none;
              border-color: #e21357;
              background: #e21357;
              font-family: "微软雅黑";
              color: #fff; }
            #box #main .register .container .left ul li:nth-child(5) button:hover {
              background: #CC1C23;
              cursor: pointer; }
          #box #main .register .container .left ul li:nth-child(6) {
            padding-left: 85px; }
            #box #main .register .container .left ul li:nth-child(6) a {
              color: #F00;
              font-size: 12px; }
            #box #main .register .container .left ul li:nth-child(6) span {
              width: 74px; }
      #box #main .register .container .right {
        width: 560px;
        height: 377px;
        float: left; }
        #box #main .register .container .right img {
          width: 560px;
          height: 377px; }

#box #links {
  background: #fff; }
